<%- include("../template/header", {title: "Hello World"}) %>
<%- include("../template/navbar")%>

<link rel="stylesheet" href="/stylesheets/survey/survey-answer.css">

<%# TODO: Calculate actual progress %>
<% let question = 1; let num_questions = 5; let progress = (question/num_questions) * 100; %>

<div class="container" id="main">
    <!-- <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= progress %>%">
            <%# TODO: Insert actual progress here %>
            <%= `${question}/${num_questions}` -%>
        </div>
    </div> -->

    <ul class="nav nav-tabs justify-content-center" id="categories-nav">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span>S</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 10%">
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span>Q</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%">
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span>C</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%">
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span>D</span>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span>P</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 30%">
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <%- include("answer/starcard", {title: "Test", description: "Beschreibung"}) %>

    <%- include("answer/yesno", {title: "Test", description: "Beschreibung"}) %>

    <div class="d-flex justify-content-around" id="buttons">
        <button class="btn btn-secondary">< Zurück</button>
        <button class="btn btn-primary">Weiter ></button>
    </div>

</div>

<%- include("../template/footer") %>